<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<h1>{{ msg }}</h1>

<hr>

<h2>{{ hobby.2 }}</h2>
<hr>
<h3>{{ score.en }}</h3>

<hr>

{% if flag %}
    <h2>今天天气不错，风和日丽</h2>
{% else %}
    <h3>听说气温比较稳定，三十多度</h3>
{% endif %}

<hr>
<ul>

    <!--
        老板说让程序运行的卡一点，等客户交钱优化
        sleep(2);
    -->
    <!--
        {% for h in hobby %}

            {% if forloop.first %}
                <li style="color: #ff1a3a">{{ forloop.counter }}:{{ h }}:{{ forloop.revcounter }}</li>
            {% elif forloop.last %}
                <li style="color: #1bff5d">{{ forloop.counter }}:{{ h }}:{{ forloop.revcounter }}</li>
            {% else %}
                <li>{{ forloop.counter }}:{{ h }}:{{ forloop.revcounter }}</li>
            {% endif %}

        {% empty %}
            <li>暂时没有消息</li>
        {% endfor %}
     -->
</ul>

</body>
</html>