<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <script type="text/javascript" src="{{ url_for("static", filename="js/jquery.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/bootstrap.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/bootstrap-theme.css") }}"/>

    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/swiper.css") }}"/>
    <script type="text/javascript" src="{{ url_for("static", filename="js/swiper.js") }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/reset.css") }}"/>

    {% block title %}

    {% endblock %}

    {% block extCSS %}

    {% endblock %}

    {% block extJS %}

    {% endblock %}

</head>
<body>

{% block body %}

{% endblock %}

</body>
</html>